<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Berita: {{ kategoriId | titlecase }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card *ngFor="let berita of beritaList" (click)="goToDetail(berita.id)">
    
    <ion-img [src]="berita.image" [alt]="berita.title"></ion-img>

    <ion-card-header>
      <ion-card-title>{{ berita.title }}</ion-card-title>
      <ion-card-subtitle>
        ⭐ {{ getAverageRating(berita.rating) }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Klik untuk membaca berita selengkapnya...
    </ion-card-content>
  </ion-card>

  <div *ngIf="beritaList.length === 0" class="ion-text-center ion-padding">
    <p>Tidak ada berita untuk kategori ini.</p>
  </div>

</ion-content>