<ion-menu auto-hide="true" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/tabs/home">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/tabs/daftar-berita">
          <ion-icon name="list-outline" slot="start"></ion-icon>
          <ion-label>Daftar Berita</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/tabs/kategori">
          <ion-icon name="grid-outline" slot="start"></ion-icon>
          <ion-label>Kategori Berita</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/tabs/baca-berita">
          <ion-icon name="book-outline" slot="start"></ion-icon>
          <ion-label>Baca Berita</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/tabs/profile">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Profil</ion-label>
        </ion-item>
      </ion-menu-toggle>
      
      <ion-item routerLink="/login">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Log out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- konten utama tabs -->
<ion-tabs id="main-content">
  <ion-tab-bar slot="bottom">
    
    <!-- Tombol Kiri (Saya ganti daftar-berita menjadi kategori untuk alur yang lebih baik) -->
    <ion-tab-button tab="kategori">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Kategori</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="cari-berita">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Cari</ion-label>
    </ion-tab-button>
    
    <!-- Tombol Home di tengah -->
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
    <!-- Tombol Kanan -->
    <ion-tab-button tab="my-favorite">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favorit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
